.carte-profil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 250px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.photo-profil {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* rond */
  margin-bottom: 10px;
}
